@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --radio-border-color: #8b8c89;
  --radio-checked-color: #274c77;
  --radio-hover-color: #a3cef1;
  --radio-disabled-bg-color: #d9d9d9;
  --checkbox-border-color: #8b8c89;
  --checkbox-checked-color: #274c77;
  --checkbox-hover-color: #a3cef1;
  --checkbox-disabled-bg-color: #d9d9d9;
  --main-text-color: #2a2a2a;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  color: var(--main-text-color);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

.app-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.menu {
  display: grid;
  /* set first row to fit content and other row to fill remaining height of parent */
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  color: #2a2a2a;
  min-height: 2rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  color: #2a2a2a;
  min-height: 2rem;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  a {
    color: #2a2a2a;
  }
  a:hover {
    color: #69f1d8;
  }
}
.left-menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 0.8rem 2rem;
  gap: 1rem;

  .links {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: start;
    padding: 10px;
    bottom: 2rem;
    gap: 1rem;
  }
  .link:hover {
    background-color: #69f1d8;
    cursor: pointer;
  }
}

.top-menu,
.bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}
.user-banner {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background-color: #a4a4a4;
  font-weight: 600;

  i {
    font-size: 3rem;
  }
}
.main-view {
  position: relative;
  background-color: aliceblue;
  overflow-y: scroll;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 600;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.category {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 1rem;
}
.categories-heading {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  height: 4rem;
}
.category:hover {
  background-color: #69f1d8;
  cursor: pointer;
}

.categoryModal,
.edit-category-modal {
  /* Center the modal on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  .input-label {
    font-size: 1rem;
    font-weight: 600;
  }
  .input-box {
    width: -webkit-fill-available;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 0.5rem;
}

.emoji-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10%;
  cursor: pointer;
  border: 1px solid #2a2a2a;
}
.emoji-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-picker-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: #2a2a2a 1px solid;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.current-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #2a2a2a;
}

.category-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* width: 100%; */
  padding: 1rem;
}

.category-heading-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.category-page {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem;
  height: -webkit-fill-available;
  width: -webkit-fill-available;

  h2 {
    margin: 0;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #cb53b7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 0.5rem;
  width: 100%;
}
/* button element with class 'add-task */
button.add-task {
  background-color: #cb53b7;
  color: white;
}

.category-heading > .add-task {
  width: fit-content;
}

/* button.add-checklist-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #cb53b7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 0.5rem;
  width: 100%;
} */

.taskModal {
  /* Renders a modal in the center of the current div */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  .input-label {
    font-size: 1rem;
    font-weight: 600;
  }
  .input-box {
    width: -webkit-fill-available;
  }
  h2 {
    margin: 0;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 0.7rem;
  height: 4rem;
  justify-content: space-between;
  align-items: start;
}
.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  width: 60%;
  height: fit-content;
  background-color: white;
  gap: 1.5rem;

  .close-add-task {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
  }
}

.add-category-modal-inputs {
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;

  .input-box {
    height: 1rem;
    padding: 0.5rem;
    width: 14rem;
  }
}
.delete-category-success {
  text-align: center;
  gap: 0.5rem;
}

.categoryModal > .modal-content {
  h2 {
    margin: 0;
  }
}
.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.subtask-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #f0f0f0;
  gap: 2rem;
  /* width: 15rem; */

  .text-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 0.6rem;
  }

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    gap: 1rem;
  }

  h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  input[type="checkbox"] {
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    margin: 6px;
    padding: 0;
    border: 2px solid var(--checkbox-border-color);
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
  }

  input[type="checkbox"]:checked {
    background-size: cover;
    padding: 2px;
  }

  input[type="checkbox"]:not(:disabled):checked {
    border-color: var(--checkbox-checked-color);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23274c77" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
  }

  input[type="checkbox"]:disabled {
    background-color: var(--checkbox-disabled-bg-color);
  }

  input[type="checkbox"]:disabled:checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %238b8c89" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
  }

  @media (hover: hover) {
    input[type="checkbox"]:not(:disabled):hover {
      background-color: var(--checkbox-hover-color);
      outline: 6px solid var(--checkbox-hover-color);
      transform: scale(1.05);
    }
  }
  input[type="checkbox"]:focus-visible {
    outline: 6px solid var(--checkbox-hover-color);
    transform: scale(1.05);
  }
}

/* Add hover effect to task-card */
.task-card:hover {
  background-color: #ace7dc;
  cursor: pointer;
}

.top-row,
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  gap: 0.5rem;
}

/* .card-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #2a2a2a;
  border-radius: 50%;
  cursor: pointer;
} */
.bottom-row {
  align-items: center;
}

.status-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 0.6rem;
  width: fit-content;
  height: 0.8rem;
  font-size: 0.7rem;
}
.status-indicator.incomplete {
  background-color: #59ebbd;
}

.status-indicator.complete {
  background-color: #ebd86b;
}

.input-container#priority {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  h4 {
    margin: 0;
  }
  /* Add CSS to radio buttons */
  .radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  input[type="radio"] {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    padding: 0;
    border: 1px solid var(--radio-border-color);
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
  }

  input[type="radio"]:not(:disabled):checked {
    border-color: var(--radio-checked-color);
    background-color: var(--radio-checked-color);
    background-clip: content-box;
    padding: 2px;
    background-image: radial-gradient(
      circle,
      var(--radio-checked-color) 0%,
      var(--radio-checked-color) 50%,
      transparent 60%,
      transparent 100%
    );
  }

  @media (hover: hover) {
    input[type="radio"]:not(:disabled):hover {
      background-color: var(--radio-hover-color);
      outline: 3px solid var(--radio-hover-color);
      transform: scale(1.05);
    }
  }

  input[type="radio"]:focus-visible {
    background-color: var(--radio-hover-color);
    outline: 6px solid var(--radio-hover-color);
    transform: scale(1.05);
  }
}

@media (prefers-reduced-motion: reduce) {
  input[type="radio"] {
    transition: none;
  }

  input[type="radio"]:focus-visible {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: reduce) and (hover: hover) {
  input[type="radio"]:not(:disabled):hover {
    transform: scale(1);
  }
}

.welcome-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 120%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-modal > .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  width: max-content;
  height: fit-content;
  background-color: white;
  gap: 2rem;

  h2 {
    text-align: center;
    margin: 0;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .input-box {
    width: 50%;
  }

  .input-label {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .add-category {
    width: 60%;
  }
}

.app-instructions {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  height: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #69f1d8;
}
