:root {
  --primary: #b286fd;
  --main-text-color: #2a2a2a;
  --background-primary: #e9eefb;
  --yellow: #fdfee7;

  --checkbox-background: #f4f4f0;
  --checkbox-border-color: black;
  --checkbox-hover-color: var(--primary);
  --checkbox-checked-color: var(--primary);

  --radio-background: #f4f4f0;
  --radio-border-color: black;
  --radio-checked-color: var(--primary);
  --radio-hover-color: var(--primary);
}
/* ------------------------------------------------------------------ */
/* Import MabryPro font */
@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url("../fonts/MabryPro-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"),
    url("../fonts/MabryPro-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url("../fonts/MabryPro-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url("../fonts/MabryPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url("../fonts/MabryPro-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"),
    url("../fonts/MabryPro-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url("../fonts/MabryPro-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"),
    url("../fonts/MabryPro-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url("../fonts/MabryPro-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"),
    url("../fonts/MabryPro-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
/* ------------------------------------------------------------------ */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "MabryPro", sans-serif;
  height: 100%;
  width: 100%;
  color: var(--main-text-color);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--yellow);
}

.app-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
}

/* Generic Page CSS */
.section-title {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  height: 4rem;
}

.app-instructions {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  ----------------------- */
/* Generic Modal Container  */
/*  ----------------------- */
.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
  width: 30rem;
  max-height: 50rem;
  gap: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #000;

  background-color: #f4f4f0;
  box-shadow: 4px 4px 0px 0px #000;

  .close-add-task {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin: 0;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin: 0;
  }

  .input-label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span {
      font-size: 1rem;
      font-weight: 500;
    }
    p {
      margin: 0;
      font-size: 0.875rem;
      font-weight: 400;
    }

    ul {
      margin: 0;
      line-height: 1.25rem;
    }
  }
}
.close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}
.close-button .ph-x-circle {
  font-size: 24px;
}

.delete-button {
  /* background-color: var(--primary); */
  border-radius: 50%;
  padding: 0.2rem;
  /* border: 1px solid black; */
  width: 1rem;
  height: 1rem;
}

.delete-button:hover {
  color: var(--primary);
  cursor: pointer;
}
.published-view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
input,
textarea {
  display: flex;
  padding: 0.625rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid black;
  background: white;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #b286fd;
}

.input-container {
  gap: 1rem;
}
/*  ----------------------- */
/* Welcome Modal */
/*  ----------------------- */
.welcome-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 120%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-modal > .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  width: max-content;
  height: fit-content;
  background-color: white;
  gap: 2rem;

  h2 {
    text-align: center;
    margin: 0;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    input {
      text-align: center;
    }
  }

  .input-label {
    font-size: 0.875rem;
    font-weight: 400;
  }
  .add-category {
    width: 60%;
  }
}

/*  ----------------------- */
/* Warning Modal */
/*  ----------------------- */

.warning-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  button {
    grid-column: 2/-2;
    grid-row: 2/3;
  }

  .warning-modal-x {
    display: flex;
    align-items: start;
    justify-content: start;
    align-self: start;
    font-size: 1rem;
    font-weight: 600;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
}

.warning-modal-content {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto auto;
  font-size: 0.875rem;
  width: 21rem;
  background-color: #fcebe9;
  padding: 1.25rem;
  gap: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #e2442f;

  p {
    margin: 0;
  }

  .warning-modal-header-icon {
    width: 1.5rem;
    height: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .warning-modal-text {
    /* span both cols */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    align-items: start;

    .title {
      font-weight: 600;
    }
  }
}

/* Ensure parent container can accommodate the checkbox */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the top-row takes full available width */
  padding: 0.5rem; /* Add some padding if needed */
  box-sizing: border-box;
}

/*  ----------------------- */
/* CHECK BOX */
/*  ----------------------- */

/* Style the default checkbox */
.checkbox {
  position: relative;
  cursor: pointer;
  height: 1.25rem; /* Ensure height and width are the same */
  width: 1.25rem;
  appearance: none; /* Remove default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--checkbox-background);
  border: 1px solid var(--checkbox-border-color);
  border-radius: 0.25rem;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0;
  padding: 10px;
  /* transition: background-color 0.3s ease; */
}

/* Style the checkbox when checked */
.checkbox:checked {
  border-radius: 0.25rem;
  border: 1px solid #000;
  background: var(--checkbox-checked-color);
  transition: background-color 0.3s ease;
}

/* Optional: Add hover and focus styles for better UX */
.checkbox:hover {
  background-color: var(--checkbox-hover-color);
  transition: background-color 0.3s ease;
  outline: 3px solid var(--radio-hover-color);
}

.checkbox:focus-visible {
  outline: 2px solid var(--checkbox-hover-color);
  transition: outline 0.3s ease;
}

/* Style the checkbox when checked */
.checkbox:checked {
  border-radius: 0.25rem;
  border: 1px solid var(--checkbox-border-color);
  background: var(--checkbox-checked-color);
}

/* Add a checkmark when the checkbox is checked */
.checkbox:checked::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 2px;
  left: 7px;
}

/*  ----------------------- */
/* RADIO BUTTON */
/*  ----------------------- */

/* Add CSS to radio buttons */
.radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
input[type="radio"] {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  padding: 0;
  border: 1px solid var(--radio-border-color);
  border-radius: 50%;
  appearance: none;
  background-color: var(--radio-background);
  outline: none;
  transition: outline 0.1s;
}

input[type="radio"]:not(:disabled):checked {
  border-color: black; /* Set border color to black */
  background-color: var(--radio-checked-color);
  background-clip: content-box;
  padding: 0; /* Remove padding */
  background-image: radial-gradient(
    circle,
    black 0%,
    black 40%,
    var(--radio-checked-color) 50%,
    var(--radio-checked-color) 100%
  );
}

@media (hover: hover) {
  input[type="radio"]:not(:disabled):hover {
    background-color: var(--radio-hover-color);
    outline: 3px solid var(--radio-hover-color);
    transform: scale(1.05);
  }
}

input[type="radio"]:focus-visible {
  background-color: var(--radio-hover-color);
  outline: 6px solid var(--radio-hover-color);
  transform: scale(1.05);
}

/*  ----------------------- */
/* BUTTON */
/*  ----------------------- */

button {
  display: flex;
  padding: 0.375rem 0.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #000;
  background: #fff;
  transition: transform 0.05s ease, box-shadow 0.1s ease;
}

button.primary {
  background: var(--primary);
}

button.tertiary {
  background: black;
  color: white;
}
button:hover {
  background: #f8f8f8;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px #000; /* Increase the spread of the box shadow */
}

button.primary:hover {
  background: var(--primary);
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px #000; /* Increase the spread of the box shadow */
}

button.tertiary:hover {
  background: var(--primary);
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px #000; /* Increase the spread of the box shadow */
}

button:active {
  transform: translate(
    2px,
    2px
  ); /* Move the button slightly to the right and down */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Reduce the box shadow */
}
